/* This is highly duplicated from style.css with some tweaks to account for the
fact that ids and classes are stripped when generating the epub format, meaning
we can't target elements based on those attributes. Ideally, we would instead
inherit all styles from style.css and override some, but I haven't gotten that
working either through @import or specifying multiple epub stylesheets. */

h1 {
	font-size: 300%;
	line-height: 1;
	margin: 0 0 0.75em 0;
}

	h1 em { font-size: 65%; }

h2 {
	font-size: 140%;
	line-height: 1.25;
	margin: 1em 0 0 0;
	border-top: 1px solid #777;
	padding-top: 0.9em;
}
	h2 em {
		font-size: 90%;
		margin-left: 1em;
	}

h3 {
	font-size: 117%;
	line-height: 1.25;
	margin: 0 0 0.75em 0;
	padding-top: 1.25em;
}

h2 + h3 { padding-top: 1em; }

h4 {
	margin: 1em 0 0 0;
	font-size: 100%;
	line-height: 1.25;
}

p { margin: 1em 0 0 0; }

blockquote {
	margin: 1em 2.25em 1em 1em;
	text-align: right;
}

	blockquote p {
		margin: 0 0 0.25em 0;
		border-left: 0.25em solid #333;
		padding-left: 1em;
		font-style: italic;
		text-align: left;
		font-size: 110%;
	}
		blockquote p + p {
			font-style: normal;
			text-align: right;
			border: 0;
		}

ul, ol {
	margin: 1em 0 0 0;
	padding: 0 1.25em;
}
	li { margin: 0.5em 0 0 0; }

		li:first-child { margin: 0; }

h3 + ul { margin: 0; }

	h3 + ul li { margin: 0; }

a:link { color: #733; }
a:visited { color: #666; }
a:hover { color: #a33; }
a:active { color: black; }

h3 a:link,
h3 a:visited,
h3 a:hover,
h3 a:active {
	color: black;
	text-decoration: none;
}
