---
layout: main
title: Translation | What is Transhumanism?
description: The Transhumanist FAQ has a number of official translations, this page tracks them and has instructions on how to translate.
---
<h1>Translation</h1>

{% comment %}
This page lists any translations that are not up-to-date, by comparing the value
of their `last_commit` variable to the one in config.yml. If the values differ,
we also have an easy way to link to the diff between the English version the
translation was based on, and the latest English version. This makes it really
simple to see what needs to be update in the translation.
{% endcomment %}

{% comment %}
This capture hack is a way to avoid printing anything at all if there are no
translations in need of update.
{% endcomment %}
{% capture need_update %}
<ul><!--
	{% for p in site.pages %}
		{% if p.localized_language_name and p.based_on_commit != site.latest_commit %}
			--><li><a href="{{ p.url | remove:'index.html' }}">{{ p.localized_language_name }}</a> → <a href="https://github.com/alimony/whatistranshumanism.org/compare/{{ p.based_on_commit }}...{{ site.latest_commit }}">diff</a></li><!--
		{% endif %}
	{% endfor %}
--></ul>
{% endcapture %}
{% assign parts = need_update | split:'<li>' %}
{% if parts.size > 1 %}
	<p class="error">These translations need to be updated:</p>
	{{ need_update }}
{% else %}
	<p class="ok">All translations are up to date.</p>
{% endif %}

<h2>How to translate</h2>

<h3>First steps</h3>

<p>We want this website to be available in as many languages as possible. For this to happen, we need your help. Helping out with translation of the content (or just parts of it) is nothing more remarkable than reading it in English and writing it in your language.</p>

<p>The code and content is organized in a <a href="https://github.com/alimony/whatistranshumanism.org">repository on GitHub</a>. If that confuses you, do not worry, we will be able to walk you through the translation work even if you know nothing about building websites. If you know your way around code, you should be able to just start reading the instructions below.</p>

<p>On the other hand, if you do not want to be near the ins and outs of the website, just <a href="mailto:{{ site.email }}">send an email</a> or <a href="{{ site.discoussion_group }}">post a message in our discussion group</a>. Let us know what language you want to translate to and we will help you out. It may turn out others have already posted their interest in the same language, then you can work in a team and get it done much faster.</p>

<h3>Creating a new translation</h3>

<ol>
	<li>Create a new directory in the site root and name it with an <a href="https://en.wikipedia.org/wiki/IETF_language_tag">IETF language code</a>, for example <span class="code">sv-SE</span>.</li>
	<li>Copy <span class="code">index.html</span> from the site root to the new directory.</li>
	<li>Translate the variables in the top section of the new <span class="code">index.html</span>:
		<ul>
			<li>title</li>
			<li>description</li>
			<li>localized_language_name</li>
			<li>read_in_another_language</li>
			<li>translate_to_your_language</li>
			<li>download_as_ebook</li>
			<li>for_ios_and_others</li>
			<li>for_kindle</li>
		</ul>
	</li>
	<li>Translate the rest of the document, leaving all HTML as is. Internal links (starting with <span class="code">#</span>) should be translated as well, and be based on the title of the linked question. These “<a href="https://en.wikipedia.org/wiki/Slug_(web_publishing)#Slug">slugs</a>” are constructed by lowercasing the title, replacing all spaces with dashes, and converting all special character to ASCII. An easy way is to use an online slug generator, like <a href="http://blog.tersmitten.nl/slugify/">this one</a>.</li>
	<li>If you are on <a href="https://github.com/">GitHub</a>, push your translation to a new branch and <a href="https://github.com/alimony/whatistranshumanism.org/pulls">open a pull request</a>. More info on how this works is in the <a href="https://help.github.com/articles/using-pull-requests">GitHub documentation</a>.</li>
	<li>If not, just zip your new translation directory and send it to <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</li>
</ol>

<h3>Updating an existing translation</h3>

<p>On the top of this page there will be a list of translations that need updating, and a link to a diff showing what has changed since that language was last updated. With this information, you can make the necessary changes in the translation:</p>

<ol>
	<li>Make sure you have the latest version of the website, by <a href="https://help.github.com/articles/syncing-a-fork">syncing</a> your local copy with the main repository.</li>
	<li>Edit <span class="code">index.html</span> in the language directory, updating it according to the latest version of the original.</li>
	<li>Open <span class="code">_config.yml</span> and copy the value of <span class="code">latest_commit</span>.</li>
	<li>Change the value of the <span class="code">based_on_commit</span> variable in your translation by pasting the copied value from the previous step.</li>
	<li><a href="https://github.com/alimony/whatistranshumanism.org/pulls">Open a pull request</a> for your update, or <a href="mailto:{{ site.email }}">send it by email</a>.</li>
</ol>

<p>As soon as your updated translation makes it to the live site, the “update needed” notice on the top of this page will go away.</p>

<p>← <a href="{{ site.baseurl }}/">Go back to start page</a></p>