body {
	font-size: 1.4rem;
	line-height: 1.5;
	-webkit-transition: background-color 0s ease;
	transition: background-color 0s ease
}

h1 {
	font-size: 3rem;
}

blockquote {
	border-left: 0.2rem solid var(--c050);
	padding: 0 0 0 2.5rem;
}