body {
	font-size: medium;
	margin: 5%;
	text-align: justify
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: left
}

nav#landmarks ol,
nav#toc ol {
	margin-left: 1em;
	padding: 0
}

nav#landmarks ol li,
nav#toc ol li {
	list-style-type: none;
	margin: 0;
	padding: 0
}

a.footnote-ref {
	vertical-align: super
}

em {
	font-style: italic
}

code {
	font-family: monospace;
	white-space: pre-wrap
}

span.smallcaps {
	font-variant: small-caps
}

span.underline {
	text-decoration: underline
}

q {
	quotes: '"''"'"'""'"
}

div.column {
	display: inline-block;
	vertical-align: top;
	width: 50%
}