<!-- dns-prefetch -->
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
<link rel="dns-prefetch" href="https://github.com">

<!-- preconnect-->
<link rel="preconnect" crossorigin="anonymous" href="https://cdn.jsdelivr.net">
<link rel="preconnect" crossorigin="anonymous" href="https://github.com">

<!-- preload -->
<link rel="preload" crossorigin="anonymous" as="image" type="image/png" href="{{ .Site.BaseURL }}apple-touch-icon.png">
<link rel="preload" crossorigin="anonymous" as="image" type="image/png" href="{{ .Site.BaseURL }}favicon-16x16.png">
<link rel="preload" crossorigin="anonymous" as="image" type="image/png" href="{{ .Site.BaseURL }}favicon-32x32.png">

<link rel="preload" crossorigin="anonymous" as="font" type="font/woff" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-Regular.woff">
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-SemiBold.woff">
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff2" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-Regular.woff2">
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff2" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-SemiBold.woff2">