<!-- dns-prefetch -->
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
<link rel="dns-prefetch" href="https://github.com">

<!-- preconnect-->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
<link rel="preconnect" href="https://github.com" crossorigin="anonymous">

<!-- preload -->
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-Regular.woff">
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-SemiBold.woff">
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff2" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-Regular.woff2">
<link rel="preload" crossorigin="anonymous" as="font" type="font/woff2" href="https://cdn.jsdelivr.net/npm/inter-ui/Inter%20(web)/Inter-SemiBold.woff2">