<div class="share">
	<!-- facebook -->
	<a href="https://facebook.com/sharer.php?s=100&p[url]=https%3A%2F%2Fwhatistranshumanism.org">Facebook</a>

	<!-- twitter -->
	<a href="https://twitter.com/share?url=https%3A%2F%2Fwhatistranshumanism.org&text=What%20is%20Transhumanism&hashtags=%23transhumanism%20%23humanity">Twitter</a>

	<!-- linkedin -->
	<a href="https://linkedin.com/shareArticle?url=https%3A%2F%2Fwhatistranshumanism.org&title=What%20is%20Transhumanism%3F">Linkedin</a>

	<!-- reddit -->
	<a href="https://reddit.com/submit?url=https%3A%2F%2Fwhatistranshumanism.org&title=What%20is%20Transhumanism">Reddit</a>
</div>