<div class="share">
	<!-- facebook -->
	<a href="https://facebook.com/sharer.php?s=100&p[url]=https%3A%2F%2Fwhatistranshumanism.org">Facebook</a>

	<!-- twitter -->
	<a href="https://twitter.com/share?url=https%3A%2F%2Fwhatistranshumanism.org&text=What%20is%20Transhumanism&hashtags=%23transhumanism%20%23humanity">Twitter</a>

	<!-- google+ -->
	<a href="https://plus.google.com/share?url=https%3A%2F%2Fwhatistranshumanism.org">Google</a>

	<!-- pinterest -->
	<a href="https://pinterest.com/pin/create/bookmarklet/?media=https%3A%2F%2Fwhatistranshumanism.org%2Fimg%2Fcover.png&url=https%3A%2F%2Fwhatistranshumanism.org&description=What%20is%20Transhumanism%3F">Share on Pinterest</a>

	<!-- linkedin -->
	<a href="https://linkedin.com/shareArticle?url=https%3A%2F%2Fwhatistranshumanism.org&title=What%20is%20Transhumanism%3F">Linkedin</a>

	<!-- tumblr -->
	<a href="https://tumblr.com/share/link?url=https%3A%2F%2Fwhatistranshumanism.org&name=What%20is%20Transhumanism%3F">Tumblr</a>

	<!-- reddit -->
	<a href="https://reddit.com/submit?url=https%3A%2F%2Fwhatistranshumanism.org&title=What%20is%20Transhumanism">Reddit</a>
</div>